<div id="<%= dom_id person %>">

  <h1><%= person.name %></h1>

  <div class="card">
    <div class="card-header">
      Contact
    </div>
    <div class="card-body">

      <p>
        Phone:
        <%= person.phone %>
      </p>

      <p>
        Email:
        <%= person.email %>
      </p>

      <p>
        Address:
        <%= person.address %>
      </p>

    </div>
  </div>

  <p>
    Linkedin:
    <%= person.linkedin %>
  </p>

  <p>
    Facebook:
    <%= person.facebook %>
  </p>

  <p>
    Website:
    <%= person.website %>
  </p>


  <p>
    Country:
    <%= person.country %>
  </p>

  <p>
    Portrait:
    <%= person.portrait %>
  </p>

  <p>
    Avatar:
    <%= person.avatar %>
  </p>

  <p>
    Bio:
    <%= person.bio %>
  </p>

  <p>
    Interests:
    <%= person.interests %>
  </p>

  <p>
    Is public:
    <%= person.is_public %>
  </p>

  <%= render partial: "shared/associations", object: person, as: :entity %>

</div>
