<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= person.linkedin %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= person.facebook %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= person.website %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= person.country %>
  </p>

  <p>
    <strong>Portrait:</strong>
    <%= person.portrait %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= person.avatar %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= person.bio %>
  </p>

  <p>
    <strong>Interests:</strong>
    <%= person.interests %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= person.is_public %>
  </p>

  <%= render partial: "shared/associations", object: person, as: :entity %>

</div>
