<%
    #venture -> "people"
    a_name = entity.class.name # Venture
    a_title = a_name.pluralize # Ventures
    a_path = a_name.underscore.downcase.pluralize # ventures
    b_path = to # people
    b_name = b_path.singularize.classify.constantize # Person
%>

<h6><%=b_path.titleize%></h6>
<%= render partial: "shared/association_badges", 
    locals: { 
        entities_name: b_path,
        entities: entity.public_send(b_path),
        a: a_path,
        a_id: entity.id,
    }
%>
<span class="dropdown" data-controller="search-focus">
    <button 
        type="button"
        class="btn btn-sm btn-secondary"
        data-bs-toggle="dropdown"
        data-action="search-focus#focus">
        Add
    </button>
    <div class="dropdown-menu p-2">
        <%= form_with(
            url: associations_path,
            method: "GET",
            data: {
                controller: "form-submission",
                turbo_frame: "#{b_path}_results",
            }) do |form| %>
            <%= hidden_field_tag 'a', a_path %>
            <%= hidden_field_tag 'a_id', entity.id %>
            <%= hidden_field_tag 'b', b_path %>
            <%= form.text_field :query,
                data: { 
                    action: "input->form-submission#search",
                    "search-focus-target" => "query"
                },
                autocomplete: "off",
                placeholder: "search",
                class: "form-control"
            %>
        <% end %>
        <%= render "associations/associations", #people/people
                a: a_path,
                a_id: entity.id,
                b: b_path,
                results: []
        %>
    </div>
</span>
