<div id="<%= dom_id ecosystem %>">
  <p>
    <strong>Name:</strong>
    <%= ecosystem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ecosystem.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= ecosystem.link %>
  </p>

  <p>
    <strong>Cover photo:</strong>
    <%= ecosystem.cover_photo %>
  </p>

</div>
