<h1>Bioregions</h1>

<ul>
  <li>1 planet.</li>
  <li><%= Realm.all.length %> realms.</li>
  <li><%= Subrealm.all.length %> subrealms.</li>
  <li><%= Bioregion.all.length %> bioregions.</li>
  <li><%= Ecoregion.all.length %> ecoregions.</li>
</ul>

<ul id="realms">
  <% Realm.all.each do |realm| %>
    <li><a href="#<%=realm.id%>"><%= realm.title %></a></li>
  <% end %>
</ul>

<% Realm.all.each do |realm| %>
  <h2><a name="<%=realm.id%>"/><%= realm.title %></h2>
  <img src="/<%=realm.id%>.webp" alt="<%= realm.title %>" class="img-fluid"/>
  <ul>
    <% realm.subrealms.each do |subrealm| %>
      <li>
        <h3><%=subrealm.title%></h3>
        <ul>
          <% subrealm.bioregions.each do |bioregion| %>
            <li>
              <h4><%=bioregion.title%></h4>
              <p><%=bioregion.description%></p>
              <ul>
                <% bioregion.ecoregions.each do |ecoregion| %>
                  <li>
                    <%= link_to "#{ecoregion.title} (#{ecoregion.id})", "/ecoregions/#{ecoregion.id}" %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<p><em>
  The copy of all Ecoregion Snapshots are licensed under Creative Commons Attribution-NonCommercial (<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY-NC</a>), and can be shared and used for non-commercial purposes.
  Ecoregion Snapshots: Descriptive Abstracts of the Terrestrial Ecoregions of the World. 2021. Developed by One Earth and RESOLVE. Version 2021 <www.oneearth.org>. Downloaded on July 17, 2022.
</em></p>