<div id="<%= dom_id solution %>">
  <p>
    <strong>Name:</strong>
    <%= solution.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= solution.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= solution.link %>
  </p>

  <p>
    <strong>Cover photo:</strong>
    <%= solution.cover_photo %>
  </p>

  <%= render partial: "shared/associations", object: solution, as: :entity %>

</div>
